<header class='row header-row'>    

    <div class=' col-md-2 col-lg-2 text-center'>
        <a routerLink='/notes' class='root-link'> <h3> ITBlog </h3> </a>
    </div>

    <div class='col-md-6 col-lg-6 title'>
        <i> Sign in system </i>
    </div>

    <div class='col-md-2 col-lg-2 text-center link-container'>
        <a routerLink='/login'> Login </a>
        <a routerLink='/register'> Register </a>
    </div>

</header>

<div class='row'>
        
    <main class="col-lg-offset-3 col-lg-6">
            
        <form method='POST' class='login-form' action='../scripts/account/login.php'>
                
            <div class='form-group form-header'>
                Sign in
            </div>

            <div class="form-group">
                    
                <label class="col-lg-4 text-right control-label margin-bottom-15">
                    Login
                </label>

                <div class='col-lg-8 margin-bottom-15'>
                    <input type='text' class="form-control" placeholder='your login' />
                </div>

            </div>

            <div class="form-group">
                    
                <label class="col-lg-4 text-right control-label margin-bottom-15">
                    Password
                </label>

                <div class='col-lg-8 margin-bottom-15'>
                    <input type='password' class="form-control" placeholder='your password' />
                </div>

            </div>

            <div class="form-group text-center">
                    
                <button class="btn enter-btn">
                    Enter
                </button>
                    
            </div>

        </form>
            
    </main>
        
</div>

<footer>
    2016 by Swirchkov Wladymir & Grynko Alina & Kovalenko Ekaterina 
</footer>

<script src='../styles/style.js'> </script>  