<header class='row header-row'>    

    <div class=' col-md-2 col-lg-2 text-center'>
        <h3> ITBlog </h3>
    </div>

    <div class='col-md-6 col-lg-6 search-container'>
        <input type='text' placeholder='Enter search query'  class='form-control col-lg-offset-4 search-query' />
        <a href='#' class="search-btn">
            <span class="glyphicon glyphicon-search"> </span>
        </a>
    </div>

    <div class='col-md-2 col-lg-2 text-center link-container' *ngIf = ' user == null '>
        <a routerLink='/login'> Login </a>
        <a routerLink='/register'> Register </a>
    </div>

    <div class='col-md-2 col-lg-2 text-center link-container' *ngIf = ' user != null '>
        <a class='dropdown-toggle' type='button' data-toggle='dropdown'> 
            Hello, {{ user.Login }} 
            <span class='caret'></span>
        </a>

        <ul class="dropdown-menu">
            <li> <a> Profile </a> </li>
            <li> <a> Exit </a> </li>
        </ul>
    </div>

</header>

<div class="row main-container">
        
    <main class="col-lg-9 col-md-9 note-container "> 
        <div class='panel panel-default'>
            
            <div class='panel-heading'>
                Some title
            </div>
            
            <div class='panel-body'>
                <img src='images/ava.png' class='img-rounded left-img' width='220' height='150' />
                        
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam non aliquam risus, vitae finibus lectus. Sed consectetur justo diam, suscipit rhoncus dolor eleifend quis. 
                consectetur pulvinar metus in imperdiet. Maecenas vel nunc nec tortor ultrices ultrices. 
                Aenean tempor venenatis mi, in luctus lorem bibendum vel. Nam diam nunc, commodo quis lobortis sed, sagittis id tellus. 
                Quisque quis tortor pharetra sapien auctor molestie id non arcu. Aenean a egestas arcu. 
                Quisque gravida ante tincidunt consectetur molestie.

                Nullam ut diam lectus. Ut eu euismod massa. Maecenas aliquam venenatis turpis nec fermentum. 
                Nullam viverra interdum sem quis hendrerit. Mauris velit mi, mattis vel massa non, faucibus eleifend eros.
                Pellentesque molestie in ligula ut venenatis. Duis et facilisis eros, id molestie justo. 
                Ut quis est id massa commodo finibus. Vestibulum nunc ante, condimentum vel urna ullamcorper, 
                varius sagittis diam. Integer consequat dignissim elit, et iaculis nibh. Donec ultrices varius ante, 
                in faucibus eros. Cras urna libero, tristique at nisl ut, lacinia tempus nulla. 
                Aenean ultrices lobortis rutrum. Nunc arcu est, tincidunt nec felis posuere, venenatis scelerisque nunc.
                Nam sollicitudin pellentesque finibus. Aliquam ultricies purus sem, at lobortis lectus imperdiet non.
            </div>

            <div class='panel-footer back-white'>
                        
                <span class='note-tag'>
                    #tag1
                </span>

                <span class='note-tag'>
                    #tag2
                </span>
                        
                <span class='note-tag'>
                    #tag3
                </span>

                <a href='#' class='go-link'>
                    Go to article
                </a>

            </div>
        </div>

        <div class='panel panel-default'>
            
            <div class='panel-heading'>
                Some title
            </div>
            
            <div class='panel-body'>
                <img src='images/ava.png' class='img-rounded left-img' width='220' height='150' />
                        
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam non aliquam risus, vitae finibus lectus. Sed consectetur justo diam, suscipit rhoncus dolor eleifend quis. 
                consectetur pulvinar metus in imperdiet. Maecenas vel nunc nec tortor ultrices ultrices. 
                Aenean tempor venenatis mi, in luctus lorem bibendum vel. Nam diam nunc, commodo quis lobortis sed, sagittis id tellus. 
                Quisque quis tortor pharetra sapien auctor molestie id non arcu. Aenean a egestas arcu. 
                Quisque gravida ante tincidunt consectetur molestie.

                Nullam ut diam lectus. Ut eu euismod massa. Maecenas aliquam venenatis turpis nec fermentum. 
                Nullam viverra interdum sem quis hendrerit. Mauris velit mi, mattis vel massa non, faucibus eleifend eros.
                Pellentesque molestie in ligula ut venenatis. Duis et facilisis eros, id molestie justo. 
                Ut quis est id massa commodo finibus. Vestibulum nunc ante, condimentum vel urna ullamcorper, 
                varius sagittis diam. Integer consequat dignissim elit, et iaculis nibh. Donec ultrices varius ante, 
                in faucibus eros. Cras urna libero, tristique at nisl ut, lacinia tempus nulla. 
                Aenean ultrices lobortis rutrum. Nunc arcu est, tincidunt nec felis posuere, venenatis scelerisque nunc.
                Nam sollicitudin pellentesque finibus. Aliquam ultricies purus sem, at lobortis lectus imperdiet non.
            </div>

            <div class='panel-footer back-white'>
                        
                <span class='note-tag'>
                    #tag1
                </span>

                <span class='note-tag'>
                    #tag2
                </span>
                        
                <span class='note-tag'>
                    #tag3
                </span>

                <a href='#' class='go-link'>
                    Go to article
                </a>

            </div>
        </div>

        <div class='panel panel-default'>
            
            <div class='panel-heading'>
                Some title
            </div>
            
            <div class='panel-body'>
                <img src='images/ava.png' class='img-rounded left-img' width='220' height='150' />
                        
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam non aliquam risus, vitae finibus lectus. Sed consectetur justo diam, suscipit rhoncus dolor eleifend quis. 
                consectetur pulvinar metus in imperdiet. Maecenas vel nunc nec tortor ultrices ultrices. 
                Aenean tempor venenatis mi, in luctus lorem bibendum vel. Nam diam nunc, commodo quis lobortis sed, sagittis id tellus. 
                Quisque quis tortor pharetra sapien auctor molestie id non arcu. Aenean a egestas arcu. 
                Quisque gravida ante tincidunt consectetur molestie.

                Nullam ut diam lectus. Ut eu euismod massa. Maecenas aliquam venenatis turpis nec fermentum. 
                Nullam viverra interdum sem quis hendrerit. Mauris velit mi, mattis vel massa non, faucibus eleifend eros.
                Pellentesque molestie in ligula ut venenatis. Duis et facilisis eros, id molestie justo. 
                Ut quis est id massa commodo finibus. Vestibulum nunc ante, condimentum vel urna ullamcorper, 
                varius sagittis diam. Integer consequat dignissim elit, et iaculis nibh. Donec ultrices varius ante, 
                in faucibus eros. Cras urna libero, tristique at nisl ut, lacinia tempus nulla. 
                Aenean ultrices lobortis rutrum. Nunc arcu est, tincidunt nec felis posuere, venenatis scelerisque nunc.
                Nam sollicitudin pellentesque finibus. Aliquam ultricies purus sem, at lobortis lectus imperdiet non.
            </div>

            <div class='panel-footer back-white'>
                        
                <span class='note-tag'>
                    #tag1
                </span>

                <span class='note-tag'>
                    #tag2
                </span>
                        
                <span class='note-tag'>
                    #tag3
                </span>

                <a href='#' class='go-link'>
                    Go to article
                </a>

            </div>
        </div>

    </main>

    <aside class="categories-aside">

        <h4 class='text-center'> Tags </h4>

        <a href='#' class='tag-link'>
            #tag1 
        </a>

        <a href='#' class='tag-link'>
            #tag2 
        </a>

        <a href='#' class='tag-link'>
            #tag3 
        </a>

        <a href='#' class='tag-link'>
            #tag4 
        </a>

        <a href='#' class='tag-link'>
            #tag5 
        </a>

        <a href='#' class='tag-link'>
            #tag6 
        </a>

        <a href='#' class='tag-link'>
            #tag7 
        </a>

        <a href='#' class='tag-link'>
            #tag8 
        </a>

        <a href='#' class='tag-link'>
            #tag9 
        </a>

        <a href='#' class='tag-link'>
            #tag10 
        </a>
    </aside>

</div>

<footer>
    2016 by Swirchkov Wladymir & Grynko Alina & Kovalenko Ekaterina 
</footer>

<script src='../styles/style.js'> </script>