<header class='row header-row text-center'>
    <div class=' col-md-3 col-lg-3 text-center'>
        <a routerLink='/articles' class='root-link'> <h3> ITBlog </h3> </a>
    </div>

    <div class='col-md-6 col-lg-6 title'>
        <i> Welcome to your profile </i>
    </div>
</header>

<main class='cur-data-container row'>

    <div class="col-lg-3">
        <img [src]='baseUrl + user.ImageSrc' class="img-circle float-right" width="220" height="150" />
    </div>

    <div class="col-lg-3 text-center text-container" >
        <h4> 
            Your's profile data
        </h4>
        <div class="row text-center">
            Login <i> {{ user.Login }} </i>
        </div>

        <div class="row text-center">
            Email - <i> {{ user.Email }} </i>
        </div>

    </div>

    <div class="col-lg-6" >
        <button type="button" class="btn btn-link margin-left-10" (click)='mode = PROFILE;' >
            Edit personal information
        </button>
        <button type='button' class="btn btn-link" (click) = 'mode = ARTICLES;'>
            Edit articles
        </button>
        <button type='button' class="btn btn-link" (click) = 'mode = EDIT_ARTICLES'>
            New article
        </button>
    </div>

</main>

<main class="article-container" [hidden] = 'mode != ARTICLES'>

    <div class="row text-center article-header">
        Working with articles on site
    </div>

    <div class="container">
        <div class="row article-header-row">
            <div class="col-lg-6 text-left color-red article-title">
                Title
            </div>
            <div class="col-lg-6 text-right color-red">
                #tag1 #tag2 #tag3
            </div>
        </div>
        <div class="row article-container-row">
            <div class="col-lg-3">
                <img src='../../images/ava.png' class="img-circle float-right" width='220' height='150' />
            </div>
            <div class="col-lg-9 article-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam non aliquam risus, vitae finibus lectus. Sed consectetur justo diam, suscipit rhoncus dolor eleifend quis. 
                consectetur pulvinar metus in imperdiet. Maecenas vel nunc nec tortor ultrices ultrices. Aenean tempor venenatis mi, 
                in luctus lorem bibendum vel. Nam diam nunc, commodo quis lobortis sed, sagittis id tellus.
            </div>
        </div>
        <div class="row text-center">
            <div class="btn edit-btn"> 
                <a class='color-red'> Edit article </a>
                <a class='color-red'> Delete article </a>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row article-header-row">
            <div class="col-lg-6 text-left color-red article-title">
                Title
            </div>
            <div class="col-lg-6 text-right color-red">
                #tag1 #tag2 #tag3
            </div>
        </div>
        <div class="row article-container-row">
            <div class="col-lg-3">
                <img src='../../images/ava.png' class="img-circle float-right" width='220' height='150' />
            </div>
            <div class="col-lg-9 article-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam non aliquam risus, vitae finibus lectus. Sed consectetur justo diam, suscipit rhoncus dolor eleifend quis. 
                consectetur pulvinar metus in imperdiet. Maecenas vel nunc nec tortor ultrices ultrices. Aenean tempor venenatis mi, 
                in luctus lorem bibendum vel. Nam diam nunc, commodo quis lobortis sed, sagittis id tellus.
            </div>
        </div>
        <div class="row text-center">
            <div class="btn edit-btn"> 
                <a class='color-red'> Edit article </a>
                <a class='color-red'> Delete article </a>
            </div>

        </div>
    </div>

</main>

<main class='edit-container' [hidden] = 'mode != EDIT_ARTICLES'>
    <form>
        <div class="row text-center form-header">
            Write new article
        </div>
        <div class="row border-underline">
            <label class="col-lg-4 text-right">
                Title 
            </label>
            <input type='text' class="form-control col-lg-3" />
        </div>
        <div class="row border-underline">
            <label class="col-lg-4 text-right">
                Tags (separate by space)
            </label>
            <input type='text' class="form-control col-lg-3" />
        </div>
        <div class="row border-underline">
            <label class="col-lg-4 text-right">
                Article image
            </label>
            <input type='file' class="form-control col-lg-3" />
        </div>
        <div class="row border-underline">
            <label class="col-lg-4 text-right">
                Article text
            </label>
            <textarea rows='10' class="form-control">
            </textarea>
        </div>
        <div class="row text-center">
            <input type='submit' class="btn btn-success" value='Publish' />
        </div>
    </form>
</main>

<main class='text-center' [hidden] = 'mode != PROFILE'>
    currently working on this functionality ( editing profile )
</main>

<footer>
    2016 by Swirchkov Wladymir & Grynko Alina & Kovalenko Ekaterina 
</footer>