<header class='row header-row text-center'>
    <div class=' col-md-3 col-lg-3 text-center'>
        <a routerLink='/articles' class='root-link'> <h3> ITBlog </h3> </a>
    </div>

    <div class='col-md-6 col-lg-6 title'>
        <i> Welcome to your profile </i>
    </div>
</header>

<main class='cur-data-container row'>

    <div class="col-lg-3">
        <img src='../../images/ava.png' class="img-circle float-right" width="220" height="150" />
    </div>

    <div class="col-lg-3 text-center text-container" >
        <h4> 
            Your's profile data
        </h4>
        <div class="row text-center">
            Login <i> some login </i>
        </div>

        <div class="row text-center">
            Email - <i> mail@mad.com </i>
        </div>

    </div>

    <div class="col-lg-3" >
        <button type="button" class="btn btn-link float-right">
            Edit personal information
        </button>
    </div>

    <div class="col-lg-3">
        <button type='button' class="btn btn-link">
            Edit articles
        </button>
    </div>

</main>