<header class='row header-row'>    

    <div class=' col-md-2 col-lg-2 text-center'>
        <a routerLink='/articles' class='root-link'> <h3> ITBlog </h3> </a>
    </div>

    <div class='col-md-6 col-lg-6 title'>
        <i> Create new account </i>
    </div>

    <div class='col-md-2 col-lg-2 text-center link-container'>
        <a routerLink='/login'> Login </a>
        <a routerLink='/register'> Register </a>
    </div>

</header>

<div class='row'>
        
    <main class="col-lg-offset-3 col-lg-6">
            
        <form method='POST' class='login-form' #registerForm = 'ngForm'>
                
            <div class='form-group form-header'>
                Create new account
            </div>

            <div class="form-group">
                    
                <label class="col-lg-4 text-right control-label margin-bottom-15">
                    Login
                </label>

                <div class='col-lg-8 margin-bottom-15'>
                    <input type='text' required class="form-control" placeholder='your login' [(ngModel)]='user.Login' 
                    name='Login' #login = 'ngModel' />

                    <div [hidden] = '!login.touched || login.valid' class="alert alert-danger field-alert">
                        Login is required
                    </div> 
                    <div [hidden] = 'isFreeLogin' class="alert alert-danger field-alert">
                        Login is already taken
                    </div> 
                </div>


            </div>

            <div class="form-group">
                    
                <label class="col-lg-4 text-right control-label margin-bottom-15">
                    Email
                </label>

                <div class='col-lg-8 margin-bottom-15'>
                    <input type='email' class="form-control" placeholder='your email' [(ngModel)] = 'user.Email' name ='email' 
                        required #email="ngModel" pattern="[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z]+"/>
                    
                    <div [hidden] = '!email.touched || email.valid' class="alert alert-danger field-alert">
                        Invalid email
                    </div> 
                </div>

            </div>

            <div class="form-group">
                    
                <label class="col-lg-4 text-right control-label margin-bottom-15">
                    Avatar
                </label>

                <div class='col-lg-8 margin-bottom-15'>
                    <input type='file' class="form-control" placeholder='your avatar' [(ngModel)] = 'user.Image' name ='image' 
                         #image="ngModel" id='avatar'/>
                    
                    <div [hidden] = '!image.touched || image.valid' class="alert alert-danger field-alert">
                        Image is required
                    </div> 
                    <div [hidden]='checkImageExtension()'class="alert alert-danger field-alert" >
                        Invalid file format
                    </div>
                </div>

            </div>

            <div class="form-group">
                    
                <label class="col-lg-4 text-right control-label margin-bottom-15">
                    Password
                </label>

                <div class='col-lg-8 margin-bottom-15'>
                    <input type='password' class="form-control" placeholder='your password' [(ngModel)] = 'user.Password' 
                    name = 'password' required minlength="6" #password='ngModel' />

                    <div [hidden] = '!password.touched || password.valid' class="alert alert-danger field-alert">
                        Invalid password
                    </div>
                </div>

            </div>

            <div class="form-group">
                    
                <label class="col-lg-4 text-right control-label margin-bottom-15">
                    Confirm password
                </label>

                <div class='col-lg-8 margin-bottom-15'>
                    <input type='password' class="form-control" placeholder='confirm password' [(ngModel)] = 'confirmPassword' 
                    name='confirmPassword' #confirmation = 'ngModel' />

                     <div [hidden] = '!confirmation.touched || confirmPassword == user.Password' 
                        class="alert alert-danger field-alert">
                        Password's doesn't match
                    </div>
                </div>

            </div>

            <div class="form-group text-center">
                    
                <button type='submit' class="btn enter-btn" (click)='registerUser()' 
                    [disabled] = '!registerForm.form.valid || confirmPassword != user.Password || !checkImageExtension()'>
                    Register
                </button>
                    
            </div>

        </form>
            
    </main>
        
</div>

<footer>
     2016 by Swirchkov Wladymir & Grynko Alina & Kovalenko Ekaterina 
</footer>

<script src='styles/header.js'> </script>        